<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
    <div class="container-xxl d-flex h-100">
        <ul class="menu-inner">
            <li class="menu-item active">
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-smart-home"></i>
                    <div data-i18n="Dashboard">Dashboard</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="user-events.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-calendar"></i>
                            <div data-i18n="Events">Events</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="user-book-lapangan.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-bookmark"></i>
                            <div data-i18n="Book Lapangan">Book Lapangan</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-check-circle"></i>
                    <div data-i18n="Pemesanan">Pemesanan</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="user-booking-status.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-calendar-check"></i>
                            <div data-i18n="Status Pemesanan">Status Pemesanan</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="user-my-bookings.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-list"></i>
                            <div data-i18n="Daftar Pemesanan">Daftar Pemesanan</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-gift"></i>
                    <div data-i18n="Reward">Reward</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="user-reward-list.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-trophy"></i>
                            <div data-i18n="Daftar Reward">Daftar Reward</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="user-reward-redemption.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-arrow-right"></i>
                            <div data-i18n="Penukaran Reward">Penukaran Reward</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-user"></i>
                    <div data-i18n="Akun">Akun</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="user-profile.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-pencil-alt"></i>
                            <div data-i18n="Edit Profil">Edit Profil</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="user-change-password.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-lock"></i>
                            <div data-i18n="Ganti Password">Ganti Password</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="user-contact-us.html" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-phone"></i>
                    <div data-i18n="Hubungi Kami">Hubungi Kami</div>
                </a>
            </li>
        </ul>
    </div>
</aside>
