<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="assets/" data-template="vertical-menu-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
  <title>Booking Lapangan | DreamSoccer</title>
  <meta name="description" content=""/>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon/favicon.ico"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css"/>
  <link rel="stylesheet" href="assets/vendor/fonts/tabler-icons.css"/>
  <link rel="stylesheet" href="assets/vendor/css/rtl/core.css" class="template-customizer-core-css"/>
  <link rel="stylesheet" href="assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css"/>
  <link rel="stylesheet" href="assets/css/demo.css"/>
  <link rel="stylesheet" href="style.css"/>
  <link rel="stylesheet" href="booking.css"/>
  <link rel="stylesheet" href="/assets/css/boxicons.min.css">
  <link rel="stylesheet" href="/assets/css/fullcalendar.min.css">
  <script src="/assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/vendor/js/helpers.js"></script>
  <script src="assets/js/config.js"></script>
  <link rel="stylesheet" href="/assets/css/sweetalert2.min.css">
  <script src="/assets/js/sweetalert2.min.js"></script>
</head>
<style>
  #cancel-edit {
      display: none !important;
  }
  #submit-event {
      display: block;
      margin: 0 auto;
  }
  #submit-event.edit {
      margin: 0;
      float: right;
  }
</style>
<body>
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
  <div class="layout-container">
    <div th:replace="~{pisahuser/navbar.html}">
    </div>
    <div class="layout-page">
      <div th:replace="~{pisahuser/navbar2.html}">
      </div>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Data Booking</h4>
                <div class="card" style="width: 250px;">
                  <div class="card-body text-end">
                    <h5 class="card-title mb-0">Jumlah Poin Anda</h5>
                    <p class="card-text" id="userPointsDisplay">
                      <span th:text="${user.point}"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="container">
                  <div id="calendar"></div>
                  <div class="form-container">
                    <h3>Booking Lapangan</h3>
                    <form id="event-form" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="nama-user">Nama</label>
                        <input type="text" id="nama-user" class="form-control" required></div>
                      <div class="form-group">
                        <input type="hidden" id="id-user" name="id-user" th:value="${loggedInUserId}"></div>
                      <div class="form-group">
                        <label for="tanggal-booking">Tanggal Booking</label>
                        <input type="date" id="tanggal-booking" class="form-control" required></div>
                      <div class="form-group">
                        <label for="jam-mulai">Jam Mulai</label>
                        <select id="jam-mulai" class="form-control" required></select>
                      </div>
                      <div class="form-group">
                        <label for="jam-selesai">Jam Selesai</label>
                        <select id="jam-selesai" class="form-control" required></select>
                      </div>
                      <div class="form-group">
                        <label for="id-lapangan">Pilih Lapangan</label>
                        <select id="id-lapangan" class="form-control" required onchange="document.getElementById('nama-lapangan-booking').value = this.options[this.selectedIndex].text; document.getElementById('harga-perjam-booking').value = this.options[this.selectedIndex].getAttribute('data-price');">
                          <option value="">Pilih Lapangan</option>
                        </select>
                        <input type="hidden" id="nama-lapangan-booking" name="nama-lapangan-booking">
                        <input type="hidden" id="harga-perjam-booking" name="harga-perjam-booking"></div>
                      <div class="form-group">
                        <label for="total-harga">Harga</label>
                        <input type="text" id="total-harga" class="form-control" value="Rp. 0" disabled></div>
                      <div class="form-group">
                        <label for="dp">DP</label>
                        <input type="text" id="dp" class="form-control" placeholder="Masukkan DP" required></div>
                      <div class="form-group">
                        <label for="dp-file">Upload DP</label>
                        <input type="file" id="dp-file" name="buktiDp" class="form-control" accept="image/*" required>
                      </div>
                      <div class="form-group">
                        <label for="sisa-pembayaran">Sisa Pembayaran</label>
                        <input type="text" id="sisa-pembayaran" class="form-control" value="Rp. 0" disabled></div>
                      <div class="form-group">
                        <label for="deskripsi">Deskripsi Event (Opsional)</label>
                        <textarea id="deskripsi" class="form-control" placeholder="Deskripsi Event (Opsional)"></textarea>
                      </div>
                      <div class="form-group" hidden>
                        <label for="status">Status Pembayaran</label>
                        <select id="status" class="form-control" required>
                          <option value="Belum Lunas">Belum Lunas</option>
                          <option value="Lunas">Lunas</option>
                        </select>
                      </div>
                      <div class="d-flex justify-content-between">
                        <button type="button" id="cancel-edit" class="btn btn-danger">
                          <i class="bx bx-x-circle me-2"></i> Batal </button>
                        <button type="submit" id="submit-event" class="btn btn-success">
                          <i id="submit-icon" class="bx bx-check-circle me-2"></i> Simpan </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div id="event-info" class="event-info-container"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete-event">Delete</button>
                <button type="button" class="btn btn-primary" id="edit-event">Edit</button>
              </div>
            </div>
          </div>
        </div>
        <div th:replace="~{pisahuser/footer.html}">
        </div>
      </div>
    </div>
  </div>
  <script src='https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/locale/id.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.0/dist/fullcalendar.min.js'></script>
  <script src="assets/vendor/js/bootstrap.js"></script>
  <script src="assets/vendor/js/menu.js"></script>
  <script src="assets/js/main.js"></script>
  <script>
    let loggedInUserId = [[${loggedInUserId}]];
    $(document).ready(function() {
        function populateTimeSelect(selectId, startHour = 7) {
            var select = document.getElementById(selectId);
            select.innerHTML = '';

            for (var i = startHour; i <= 23; i++) {
                var time = (i < 10 ? '0' + i : i) + ':00';
                var option = document.createElement('option');
                option.value = time;
                option.text = time;
                select.appendChild(option);
            }
        }

        populateTimeSelect('jam-mulai');
        populateTimeSelect('jam-selesai');

        document.getElementById('jam-mulai').addEventListener('change', function () {
            var selectedHour = parseInt(this.value.split(':')[0]);
            populateTimeSelect('jam-selesai', selectedHour + 1);
        });


        $.ajax({
            url: '/api/lapangan/list',
            type: 'GET',
            dataType: 'json',
            success: function(lapanganList) {
                console.log('Daftar lapangan:', lapanganList);
                var lapanganDropdown = $('#id-lapangan');
                lapanganDropdown.empty();
                lapanganDropdown.append('<option value="">Pilih Lapangan</option>');
                if (lapanganList && lapanganList.length > 0) {
                    lapanganList.forEach(function(lapangan) {
                        lapanganDropdown.append('<option value="' + lapangan.id + '" data-price="' + lapangan.hargaPerjam + '">' + lapangan.namaLapangan + ' (' + lapangan.hargaPerjam.toLocaleString() + '/jam)</option>');
                    });
                } else {
                    console.warn('Tidak ada data lapangan yang diterima');
                }
            },
            error: function(xhr, status, error) {
                console.error('Terjadi kesalahan saat mengambil data lapangan:', error);
                console.log('Respon server:', xhr.responseText);
                alert('Terjadi kesalahan saat mengambil data lapangan: ' + error);
            }
        });
    });
  </script>
  <script>
    $(document).ready(function() {
       $('#cancel-edit').hide();
       var colors = ['#00FFFF', '#7FFFD4', '#ADFF2F', '#00FA9A', '#F5DEB3'];

       function getRandomColor() {
          return colors[Math.floor(Math.random() * colors.length)];
       }

       $.ajax({
          url: '/api/booking',
          type: 'GET',
          dataType: 'json',
          success: function(bookings) {
             console.log('Bookings:', bookings);
             var events = bookings.map(function(booking) {
                if (!booking.user || !booking.lapangan) {
                   console.warn('Data booking tidak memiliki bidang yang diperlukan:', booking);
                   return null;
                }
                return {
                   title: booking.namaUserBooking,
                   start: booking.tanggalBooking + 'T' + booking.jamMulai,
                   end: booking.tanggalBooking + 'T' + booking.jamSelesai,
                   description: booking.deskripsi,
                   price: booking.totalHarga,
                   dp: booking.downPayment,
                   remainingBalance: booking.sisaPembayaran,
                   idLapangan: booking.lapangan.id,
                   lapanganNama: booking.namaLapanganBooking,
                   status: booking.status,
                   userId: booking.user.id,
                   hargaPerjam: booking.lapangan.hargaPerjam,
                   userName: booking.namaUserBooking,
                   id: booking.id
                };
             }).filter(event => event !== null);
             var dateWithEvents = {};
             events.forEach(function(event) {
                var date = moment(event.start).format('YYYY-MM-DD');
                if (!dateWithEvents[date]) {
                   dateWithEvents[date] = getRandomColor();
                }
             });

             $('#calendar').fullCalendar({
                locale: 'id',
                firstDay: 0,
                events: events,
                slotDuration: '01:00:00',
                slotLabelInterval: '01:00',
                eventLimit: true,
                eventLimitText: "+ more",
                eventLimitClick: 'day',
                header: {
                   left: 'prev,next',
                   center: 'title',
                   right: 'month,list'
                },
                buttonText: {
                   month: 'Bulan',
                   list: 'Daftar'
                },
                viewRender: function(view, element) {
                   if (view.name === 'list') {
                      $('#calendar').fullCalendar('changeView', 'listMonth');
                   }
                },
                selectable: true,
                selectHelper: true,
                select: function(start, end) {
                   var selectedDate = moment(start).format('YYYY-MM-DD');
                   var startTime = moment(start).format('HH:mm');
                   var endTime = moment(end).format('HH:mm');
                   $('#tanggal-booking').val(selectedDate);
                   $('#jam-mulai').val(startTime);
                   $('#jam-selesai').val(endTime);
                },
                eventClick: function(event) {
                   let eventUserId = parseInt(event.userId, 10);

                   console.log("loggedInUserId dari Thymeleaf:", loggedInUserId);
                   console.log("eventUserId:", eventUserId);

                   var eventInfo = `
                      <h5>DETAIL BOOKING EVENT</h5>
                      <div class="event-info-section"><span>Nama:</span><p>${event.userName}</p></div>
                      <div class="event-info-section"><span>Mulai:</span><p>${moment(event.start).format('YYYY-MM-DD HH:mm')}</p></div>
                      <div class="event-info-section"><span>Selesai:</span><p>${moment(event.end).format('YYYY-MM-DD HH:mm')}</p></div>
                      <div class="event-info-section"><span>Lapangan:</span><p>${event.lapanganNama}</p></div>
                      <div class="event-info-section"><span>Deskripsi:</span><p>${event.description || 'Tidak ada deskripsi'}</p></div>
                      <div class="event-info-section"><span>Harga:</span><p>Rp ${event.price.toLocaleString()}</p></div>
                      <div class="event-info-section"><span>DP:</span><p>Rp ${event.dp.toLocaleString()}</p></div>
                      <div class="event-info-section"><span>Sisa Pembayaran:</span><p>Rp ${event.remainingBalance.toLocaleString()}</p></div>
                      <div class="event-info-section"><span>Status:</span><p class="event-info-status">${event.status}</p></div>
                      <div class="event-info-footer">Terima kasih telah melakukan booking. Kami berharap Anda menikmati lapangan kami!</div>
                  `;

                   $('#event-info').html(eventInfo);

                   if (loggedInUserId === eventUserId) {
                      $('.modal-footer').show();
                   } else {
                      $('.modal-footer').hide();
                   }

                   $('#eventModal').modal('show');


                   $('#eventModal').on('hide.bs.modal', function() {
                      document.activeElement.blur();
                      setTimeout(() => {
                         $('body').focus();
                      }, 10);
                   });

                   $('#edit-event').click(function() {
                      if (!event || !event.id) {
                         Swal.fire({
                            title: 'ID Booking Tidak Ditemukan!',
                            text: 'Booking yang Anda pilih tidak valid. Silakan coba lagi.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                         });
                         return;
                      }

                      $('#eventModal').modal('hide');
                      $('.form-container h3').text('Edit Data Booking');
                      $('#id-user').val(event.userId);
                      $('#id-lapangan').val(event.idLapangan);
                      $('#nama-user').val(event.userName);
                      let selectedLapangan = $('#id-lapangan option:selected').text().split(' (')[0];
                      let selectedPrice = $('#id-lapangan option:selected').data('price');
                      $('#nama-lapangan-booking').val(selectedLapangan ? selectedLapangan : event.namaLapanganBooking);
                      $('#harga-perjam-booking').val(selectedPrice ? selectedPrice : event.hargaPerjamBooking);
                      $('#tanggal-booking').val(moment(event.start).format('YYYY-MM-DD'));
                      $('#jam-mulai').val(moment(event.start).format('HH:mm'));
                      $('#jam-selesai').val(moment(event.end).format('HH:mm'));
                      $('#total-harga').val('Rp. ' + (event.price || 0).toLocaleString());
                      $('#deskripsi').val(event.description || '');
                      $('#dp').val('Rp. ' + (event.dp || 0).toLocaleString());
                      $('#sisa-pembayaran').val('Rp. ' + (event.remainingBalance || 0).toLocaleString());
                      $('#status').val(event.status || '');

                      $('#cancel-edit').attr('style', 'display: block !important;');

                      var button = $('#submit-event');
                      var icon = $('#submit-icon');
                      button.html('<i id="submit-icon" class="bx bx-edit me-2"></i> Edit');
                      if (button.text().trim() === 'Edit') {
                         button.addClass('edit');
                      }

                      $('#event-form').off('submit').on('submit', function (e) {
                      e.preventDefault();

                      var button = $('#submit-event');
                      var icon = $('#submit-icon');

                      button.prop('disabled', true);
                      button.html('<i id="submit-icon" class="bx bx-loader-alt bx-spin me-2"></i> Menyimpan...');

                      if (!$('#id-user').val() || !$('#id-lapangan').val() || !$('#tanggal-booking').val() || !$('#jam-mulai').val() || !$('#jam-selesai').val()) {
                          Swal.fire({
                              title: 'Peringatan!',
                              text: 'Harap lengkapi semua data sebelum menyimpan.',
                              icon: 'warning',
                              confirmButtonText: 'OK'
                          });
                          button.prop('disabled', false);
                          button.html('<i id="submit-icon" class="bx bx-edit me-2"></i> Edit');
                          return;
                      }

                      var formData = new FormData();
                      var fileInput = $('#dp-file')[0].files[0];

                      if (fileInput) {
                          formData.append("file", fileInput);
                      }

                      var updatedBookingData = {
                          id: event.id,
                          user: { id: $('#id-user').val() },
                          lapangan: { id: $('#id-lapangan').val() },
                          namaUserBooking: $('#nama-user').val(),
                          namaLapanganBooking: $('#id-lapangan option:selected').text().split(' (')[0],
                          hargaPerjamBooking: $('#id-lapangan option:selected').data('price'),
                          tanggalBooking: $('#tanggal-booking').val(),
                          jamMulai: $('#jam-mulai').val() + ':00',
                          jamSelesai: $('#jam-selesai').val() + ':00',
                          downPayment: $('#dp').val().replace(/[^0-9]/g, ''),
                          sisaPembayaran: $('#sisa-pembayaran').val().replace(/[^0-9]/g, ''),
                          totalHarga: $('#total-harga').val().replace(/[^0-9]/g, ''),
                          status: $('#status').val(),
                          deskripsi: $('#deskripsi').val()
                      };

                      formData.append("booking", new Blob([JSON.stringify(updatedBookingData)], { type: "application/json" }));

                      $.ajax({
                          url: '/api/booking/' + event.id,
                          type: 'PUT',
                          contentType: false,
                          processData: false,
                          data: formData,
                          success: function (response) {
                              console.log('Booking berhasil diperbarui:', response);

                              event.userId = updatedBookingData.user.id;
                              event.lapanganId = updatedBookingData.lapangan.id;
                              event.namaUserBooking = updatedBookingData.namaUserBooking;
                              event.namaLapanganBooking = updatedBookingData.namaLapanganBooking;
                              event.hargaPerjamBooking = updatedBookingData.hargaPerjamBooking;
                              event.start = updatedBookingData.tanggalBooking + 'T' + updatedBookingData.jamMulai;
                              event.end = updatedBookingData.tanggalBooking + 'T' + updatedBookingData.jamSelesai;
                              event.price = updatedBookingData.totalHarga;
                              event.dp = updatedBookingData.downPayment;
                              event.remainingBalance = updatedBookingData.sisaPembayaran;
                              event.status = updatedBookingData.status;
                              event.description = updatedBookingData.deskripsi;

                              $('#calendar').fullCalendar('updateEvent', event);
                              $('#eventModal').modal('hide');
                              $('#event-form')[0].reset();

                              Swal.fire({
                                  title: 'Berhasil!',
                                  text: 'Booking berhasil diperbarui.',
                                  icon: 'success',
                                  timer: 2000,
                                  showConfirmButton: false
                              }).then(() => {
                                  location.reload();
                              });

                          },
                          error: function (xhr, status, error) {
                              console.error('Error:', xhr.responseText);

                              let errorMessage = 'Terjadi kesalahan. Silakan coba lagi.';
                              if (xhr.responseJSON && xhr.responseJSON.message) {
                                  errorMessage = xhr.responseJSON.message;
                              } else if (xhr.responseText) {
                                  errorMessage = xhr.responseText;
                              }

                              Swal.fire({
                                  title: 'Gagal!',
                                  text: errorMessage,
                                  icon: 'error',
                                  confirmButtonText: 'Tutup'
                              });

                          },
                          complete: function () {
                              button.prop('disabled', false);
                              button.html('<i id="submit-icon" class="bx bx-edit me-2"></i> Edit');
                          }
                      });
                  });

                   });

                   $('#cancel-edit').click(function() {
                      $('#event-form')[0].reset();
                      $('.form-container h3').text('Booking Lapangan');
                      $('#submit-event').text('Simpan');
                      $('#cancel-edit').hide();
                      $('#eventModal').modal('hide');
                      location.reload();
                   });

                   $('#delete-event').off('click').on('click', function() {
                      $('#eventModal').modal('hide');
                      Swal.fire({
                         title: 'Apakah Anda yakin?',
                         text: 'Event ini akan dihapus permanen!',
                         icon: 'warning',
                         showCancelButton: true,
                         confirmButtonText: 'Ya, Hapus!',
                         cancelButtonText: 'Batal',
                         reverseButtons: true
                      }).then((result) => {
                         if (result.isConfirmed) {
                            $.ajax({
                               url: '/api/booking/' + event.id,
                               type: 'DELETE',
                               success: function(response) {
                                  console.log('Booking berhasil dihapus:', response);
                                  $('#calendar').fullCalendar('removeEvents', event._id);
                                  $('#eventModal').modal('hide');
                                  Swal.fire({
                                     title: 'Dihapus!',
                                     text: 'Booking berhasil dihapus.',
                                     icon: 'success',
                                     timer: 2000,
                                     showConfirmButton: false
                                  }).then(() => {
                                     location.reload();
                                  });
                               },
                               error: function(xhr, status, error) {
                                  console.error('Gagal menghapus event:', error);
                                  Swal.fire({
                                     title: 'Gagal!',
                                     text: 'Terjadi kesalahan saat menghapus Booking.',
                                     icon: 'error'
                                  });
                               }
                            });
                         }
                      });
                   });
                },
                eventRender: function(event, element) {
                   if (event.status === 'Belum Lunas') {
                      element.css({
                         'background-color': '#ffe4e1',
                         'border-color': '#e53935',
                         'color': '#e53935',
                         'padding-left': '10px',
                      });

                      element.find('.fc-title').prepend(
                         '<i class="fas fa-exclamation-circle" style="color: #e53935; margin-right: 5px;"></i>'
                      );
                      element.find('.fc-event-dot').remove();
                      element.find('.fc-list-item-title').prepend(
                         '<i class="fas fa-exclamation-circle" style="color: #e53935; margin-right: 5px;"></i>'
                      );
                   } else if (event.status === 'Lunas') {
                      element.css({
                         'background-color': '#e8f5e9',
                         'border-color': '#2e7d32',
                         'color': '#2e7d32',
                         'padding-left': '10px',
                      });

                      element.find('.fc-title').prepend(
                         '<i class="fas fa-check-circle" style="color: #2e7d32; margin-right: 5px;"></i>'
                      );
                      element.find('.fc-event-dot').remove();
                      element.find('.fc-list-item-title').prepend(
                         '<i class="fas fa-check-circle" style="color: #2e7d32; margin-right: 5px;"></i>'
                      );
                   }
                },
                dayRender: function(date, cell) {
                   var formattedDate = date.format('YYYY-MM-DD');
                   if (dateWithEvents[formattedDate]) {
                      cell.css('background-color', dateWithEvents[formattedDate]);
                   }
                }
             });
          },
          error: function(xhr, status, error) {
             console.error('Error fetching bookings:', error);
             console.error('Response text:', xhr.responseText);
             Swal.fire({
                title: 'Gagal!',
                text: 'Terjadi kesalahan saat mengambil data booking.',
                icon: 'error',
                confirmButtonText: 'Tutup'
             });
          }
       });

       function calculateDuration(start, end) {
          var startMoment = moment(start, 'HH:mm');
          var endMoment = moment(end, 'HH:mm');
          return endMoment.diff(startMoment, 'hours', true);
       }

       $('#event-form').submit(function(e) {
          e.preventDefault();

          var formData = new FormData();

          var bookingData = {
              user: { id: $('#id-user').val() },
              lapangan: { id: $('#id-lapangan').val() },
              namaUserBooking: $('#nama-user').val(),
              namaLapanganBooking: $('#id-lapangan').find('option:selected').text().split(' (')[0],
              hargaPerjamBooking: $('#id-lapangan').find('option:selected').data('price'),
              tanggalBooking: $('#tanggal-booking').val(),
              jamMulai: $('#jam-mulai').val(),
              jamSelesai: $('#jam-selesai').val(),
              downPayment: $('#dp').val().replace(/[^0-9]/g, ''),
              sisaPembayaran: $('#sisa-pembayaran').val().replace(/[^0-9]/g, ''),
              totalHarga: $('#total-harga').val().replace(/[^0-9]/g, ''),
              status: $('#status').val(),
              deskripsi: $('#deskripsi').val()
          };

          formData.append("bookingDataJson", JSON.stringify(bookingData));

          var dpFile = $('#dp-file')[0].files[0];
          if (dpFile) {
              formData.append("dpFile", dpFile);
          }

          $.ajax({
              url: '/api/booking',
              type: 'POST',
              contentType: false,
              processData: false,
              data: formData,
              success: function(response) {
                  $('#calendar').fullCalendar('renderEvent', {
                      title: bookingData.namaUserBooking,
                      start: bookingData.tanggalBooking + 'T' + bookingData.jamMulai,
                      end: bookingData.tanggalBooking + 'T' + bookingData.jamSelesai,
                      description: bookingData.deskripsi,
                      price: bookingData.totalHarga,
                      dp: bookingData.downPayment,
                      remainingBalance: bookingData.sisaPembayaran,
                      idLapangan: bookingData.lapangan.id,
                      lapanganNama: bookingData.namaLapanganBooking,
                      status: bookingData.status
                  }, true);
                  $('#eventModal').modal('hide');
                  $('#event-form')[0].reset();
                  Swal.fire({
                      title: 'Berhasil!',
                      text: `Selamat Anda Telah melakukan booking, Harap cek status booking.`,
                      icon: 'success',
                      timer: 2000,
                      showConfirmButton: false
                  }).then(() => {
                      location.reload();
                  });
              },
              error: function(xhr) {
                  Swal.fire({
                      title: 'Gagal!',
                      text: xhr.responseText,
                      icon: 'error',
                      confirmButtonText: 'Tutup'
                  });
              }
          });
      });
       $('#id-lapangan').change(function() {
          updatePrice();
       });

       $('#jam-mulai, #jam-selesai').change(function() {
          updatePrice();
       });

       function updatePrice() {
          var selectedCourt = $('#id-lapangan').find('option:selected');
          var price = selectedCourt.data('price');
          var startTime = $('#jam-mulai').val();
          var endTime = $('#jam-selesai').val();

          if (!selectedCourt.val()) {
             $('#total-harga').val('Pilih lapangan terlebih dahulu');
             return;
          }

          if (!startTime || !endTime) {
             $('#total-harga').val('Pilih jam awal dan jam akhir');
             return;
          }

          if (new Date('1970-01-01T' + endTime) <= new Date('1970-01-01T' + startTime)) {
             $('#total-harga').val('Jam akhir tidak boleh lebih awal dari jam mulai');
             return;
          }

          var start = new Date('1970-01-01T' + startTime);
          var end = new Date('1970-01-01T' + endTime);
          var duration = (end - start) / (1000 * 60 * 60);

          if (duration <= 0) {
             $('#total-harga').val('Durasi tidak valid');
             return;
          }

          var totalPrice = price * duration;
          $('#total-harga').val('Rp. ' + totalPrice.toLocaleString());

          var dp = $('#dp').val().replace(/[^0-9]/g, '');
          dp = parseFloat(dp) || 0;
          var remainingPayment = totalPrice - dp;
          $('#sisa-pembayaran').val('Rp. ' + remainingPayment.toLocaleString());

          var statusPembayaran = (remainingPayment <= 0) ? 'Lunas' : 'Belum Lunas';
          $('#status').val(statusPembayaran);
          console.log("Status Pembayaran: ", statusPembayaran);
       }

       $('#dp').on('input', function() {
          var val = $(this).val().replace(/[^0-9]/g, '');
          var price = $('#id-lapangan').find('option:selected').data('price');
          var duration = calculateDuration($('#jam-mulai').val(), $('#jam-selesai').val());
          var totalPrice = price * duration;

          var dp = Math.min(parseFloat(val) || 0, totalPrice);
          $(this).val('Rp. ' + dp.toLocaleString());

          var remainingPayment = totalPrice - dp;
          $('#sisa-pembayaran').val('Rp. ' + remainingPayment.toLocaleString());

          var statusPembayaran = (remainingPayment <= 0) ? 'Lunas' : 'Belum Lunas';
          $('#status').val(statusPembayaran);
       });
    });
  </script>
  <script>
    function updateUserPoints() {
      fetch('/api/booking/user/points')
        .then(response => response.json())
        .then(data => {
          document.getElementById("userPointsDisplay").innerText = data;
        })
        .catch(error => console.error('Error fetching user points:', error));
    }

    setInterval(updateUserPoints, 10000);
    updateUserPoints();
  </script>

</div>
</body>
</html>
