<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="assets/" data-template="vertical-menu-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Data Lapangan | DreamSoccer</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="assets/css/demo.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/assets/css/dataTables.min.css">
    <script src="assets/vendor/js/helpers.js"></script>
    <script src="assets/js/config.js"></script>
    <link rel="stylesheet" href="/assets/css/sweetalert2.min.css">
    <script src="/assets/js/sweetalert2.min.js"></script>
</head>
<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: white !important;
        background-color: #5e54e6 !important;
        border-color: #5e54e6 !important;
        font-weight: bold !important;
    }
</style>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:replace="~{pisah/sidebar.html}"></div>
        <div class="layout-page">
            <div th:replace="~{pisah/navbar.html}"></div>

            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <h4 class="card-title">Data Lapangan</h4>
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addFieldModal">Tambah Data</button>
                                </div>
                                <div class="card-body">
                                    <table id="tabel-custom" class="table table-striped table-bordered text-center">
                                        <thead class="table-dark">
                                        <tr>
                                            <th style="text-align: center;">No</th>
                                            <th style="text-align: center;">Nama Lapangan</th>
                                            <th style="text-align: center;">Harga Sewa</th>
                                            <th style="text-align: center;">Poin Per Booking</th>
                                            <th style="text-align: center;">Aksi</th>
                                        </tr>
                                        </thead>
                                        <tbody id="lapangan-list">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="addFieldModal" tabindex="-1" aria-labelledby="addFieldModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addFieldModalLabel">Tambah Lapangan Baru</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="form-add-lapangan" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="fieldName" class="form-label">Nama Lapangan</label>
                                        <input type="text" class="form-control" id="fieldName" name="fieldName" placeholder="Masukkan Nama Lapangan" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="deskripsi" class="form-label">Deskripsi</label>
                                        <textarea class="form-control" id="deskripsi" name="deskripsi" placeholder="Masukkan deskripsi di sini..." required></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="rentalPrice" class="form-label">Harga Sewa</label>
                                        <input type="text" class="form-control" id="rentalPrice" name="rentalPrice" placeholder="Masukkan Harga Sewa" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="poinPerBooking" class="form-label">Poin Per Booking</label>
                                        <input type="number" class="form-control" id="poinPerBooking" name="poinPerBooking" placeholder="Masukkan jumlah poin per booking" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="fieldImages" class="form-label">Gambar Lapangan</label>
                                        <input type="file" class="form-control" id="fieldImages" name="fieldImages" accept="image/*"multiple required>
                                        <small class="form-text text-muted">Pilih gambar lapangan</small>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                        <button type="submit" class="btn btn-primary">Simpan</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editFieldModal" tabindex="-1" aria-labelledby="editFieldModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editFieldModalLabel">Edit Lapangan</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editFieldForm">
                                    <div class="mb-3">
                                        <label for="editFieldName" class="form-label">Nama Lapangan</label>
                                        <input type="text" class="form-control" id="editFieldName" placeholder="Masukkan Nama Lapangan">
                                    </div>

                                    <div class="mb-3">
                                        <label for="editdeskripsi" class="form-label">Deskripsi</label>
                                        <textarea class="form-control" id="editdeskripsi" name="editdeskripsi" placeholder="Masukkan Deskripsi Lapangan" required>
                                        </textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="editRentalPrice" class="form-label">Harga Sewa</label>
                                        <input type="text" class="form-control" id="editRentalPrice" name="editRentalPrice" placeholder="Masukkan Harga Sewa" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="editPoinPerBooking" class="form-label">Poin Per Booking</label>
                                        <input type="number" class="form-control" id="editPoinPerBooking" name="editPoinPerBooking" placeholder="Masukkan jumlah poin per booking" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="editFieldImages" class="form-label">Gambar Lapangan</label>
                                        <input type="file" class="form-control" id="editFieldImages" multiple>
                                        <small class="form-text text-muted">Pilih gambar baru untuk lapangan. Kamu bisa memilih lebih dari satu gambar.</small>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                <button type="submit" class="btn btn-primary" id="saveEditField">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteConfirmationModalLabel">Konfirmasi Hapus</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Apakah Anda yakin ingin menghapus lapangan ini?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Hapus</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:replace="~{pisah/footer.html}"></div>
            </div>
        </div>
    </div>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/js/menu.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            let lapanganIdToDelete = null;
            let lapanganIdToUpdate = null;

            loadLapangan();

            $(document).on("click", ".delete-btn", function () {
                lapanganIdToDelete = $(this).attr("data-bs-id");
            });

            $("#confirmDeleteButton").click(function () {
                if (lapanganIdToDelete) {
                    $.ajax({
                        url: `/api/lapangan/delete/${lapanganIdToDelete}`,
                        type: "DELETE",
                        success: function (message) {
                            $('#deleteConfirmationModal').modal('hide');
                            $('.modal-backdrop').remove();
                            Swal.fire({
                                icon: 'success',
                                title: 'Berhasil!',
                                text: message,
                                showConfirmButton: false,
                                timer: 2000
                            });

                            setTimeout(function () {
                                location.reload();
                                loadLapangan();
                            }, 2000);
                        },
                        error: function (xhr) {
                            $('#deleteConfirmationModal').modal('hide');
                            $('.modal-backdrop').remove();
                            Swal.fire({
                                icon: 'error',
                                title: 'Gagal!',
                                text: "Gagal menghapus lapangan: " + xhr.responseText,
                                showConfirmButton: false,
                                timer: 2000
                            });
                        }
                    });
                }
            });

            function formatCurrency(value) {
                return 'Rp ' + parseInt(value).toLocaleString();
            }
             $('#form-add-lapangan').on('input', '#rentalPrice', function () {
                let value = $(this).val().replace(/[^0-9]/g, '');
                $(this).val(formatCurrency(value));
            });

            $('#editFieldForm').on('input', '#editRentalPrice', function () {
                let value = $(this).val().replace(/[^0-9]/g, '');
                $(this).val(formatCurrency(value));
            });

            function formatCurrency(value) {
                return 'Rp ' + parseFloat(value).toLocaleString('id-ID');
            }

            $(document).on("click", ".edit-btn", function () {
                lapanganIdToUpdate = $(this).data("id");
                let namaLapangan = $(this).data("nama");
                let hargaPerjam = $(this).data("harga");
                let deskripsiLapangan = $(this).data("deskripsi");
                let poinPerBooking = $(this).data("poin");

                $("#editFieldName").val(namaLapangan);
                $("#editRentalPrice").val(formatCurrency(hargaPerjam));
                $("#editdeskripsi").val(deskripsiLapangan);
                $("#editPoinPerBooking").val(poinPerBooking);

                $("#editFieldModal").modal("show");
            });

            $("#saveEditField").click(function (event) {
                event.preventDefault();

                let formData = new FormData();
                formData.append("fieldName", $("#editFieldName").val());
                formData.append("rentalPrice", $("#editRentalPrice").val().replace(/[^0-9]/g, ''));
                formData.append("deskripsi", $("#editdeskripsi").val());
                formData.append("poinPerBooking", $("#editPoinPerBooking").val());

                let fileInput = $("#editFieldImages")[0].files;
                for (let i = 0; i < fileInput.length; i++) {
                    formData.append("fieldImages", fileInput[i]);
                }

                $.ajax({
                    url: `/api/lapangan/update/${lapanganIdToUpdate}`,
                    type: "PUT",
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        $("#saveEditField").prop("disabled", true).text("Menyimpan...");
                    },
                    success: function (response) {
                        $("#editFieldModal").modal("hide");
                        $('.modal-backdrop').remove();
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil!',
                            text: response,
                            showConfirmButton: false,
                            timer: 2000
                        });

                        setTimeout(function () {
                            location.reload();
                            loadLapangan();
                        }, 2000);
                    },
                    error: function (xhr) {
                        $("#editFieldModal").modal("hide");
                        $('.modal-backdrop').remove();
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal!',
                            text: "Gagal memperbarui lapangan: " + xhr.responseText,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    },
                    complete: function () {
                        $("#saveEditField").prop("disabled", false).text("Simpan");
                    }
                });
            });

            function loadLapangan() {
                $.ajax({
                    url: "/api/lapangan/list",
                    type: "GET",
                    success: function (data) {
                        let tableBody = "";
                        data.forEach((lapangan, index) => {
                            let formattedPrice = `Rp ${lapangan.hargaPerjam.toLocaleString('id-ID')}`;
                            tableBody += `
                                <tr>
                                    <td>${index + 1}</td>
                                    <td>${lapangan.namaLapangan}</td>
                                    <td>${formattedPrice}</td>
                                    <td>${lapangan.poinPerBooking}</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm edit-btn"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editFieldModal"
                                                data-id="${lapangan.id}"
                                                data-nama="${lapangan.namaLapangan}"
                                                data-harga="${lapangan.hargaPerjam}"
                                                data-deskripsi="${lapangan.deskripsiLapangan}"
                                                data-poin="${lapangan.poinPerBooking}">
                                            <i class="fas fa-edit"></i>
                                        </button>

                                        <button class="btn btn-danger btn-sm delete-btn"
                                                data-bs-id="${lapangan.id}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteConfirmationModal">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>`;
                        });
                        $("#lapangan-list").html(tableBody);
                    }
                });
            }

            $('#form-add-lapangan').submit(function (event) {
                event.preventDefault();
                let formData = new FormData(this);
                formData.set('rentalPrice', $('#rentalPrice').val().replace(/[^0-9]/g, ''));
                formData.set('poinPerBooking', $('#poinPerBooking').val())
                $.ajax({
                    url: '/api/lapangan/add',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        $('.btn-primary').prop('disabled', true).text('Menyimpan...');
                    },
                    success: function (response) {
                        $('#addFieldModal').modal('hide');
                        $('.modal-backdrop').remove();
                        $('#form-add-lapangan')[0].reset();
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil!',
                            text: response,
                            showConfirmButton: false,
                            timer: 2000
                        });

                        setTimeout(function () {
                            location.reload();
                            loadLapangan();
                        }, 2000);
                    },
                    error: function (xhr) {
                        $('#addFieldModal').modal('hide');
                        $('.modal-backdrop').remove();
                        $('#form-add-lapangan')[0].reset();
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal!',
                            text: 'Gagal menambahkan lapangan: ' + xhr.responseText,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    },
                    complete: function () {
                        $('.btn-primary').prop('disabled', false).text('Simpan');
                    }
                });
            });
        });
    </script>

</div>
</body>
</html>
