<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="assets/" data-template="vertical-menu-template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Data User | DreamSoccer</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="assets/css/demo.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="assets/vendor/js/helpers.js"></script>
    <script src="assets/js/config.js"></script>
</head>
<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: white !important;
        background-color: #5e54e6 !important;
        border-color: #5e54e6 !important;
        font-weight: bold !important;
    }
</style>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:replace="~{pisah/sidebar.html}"></div>
        <div class="layout-page">
            <div th:replace="~{pisah/navbar.html}"></div>

            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <h4 class="card-title">Data Pengguna</h4>
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">Tambah Data</button>
                                </div>
                                <div class="card-body">
                                    <table id="tabel-custom" class="table table-striped table-bordered text-center">
                                        <thead class="table-dark">
                                        <tr>
                                            <th style="text-align: center;">No</th>
                                            <th style="text-align: center;">Nama</th>
                                            <th style="text-align: center;">Email (Opsional)</th>
                                            <th style="text-align: center;">No HP</th>
                                            <th style="text-align: center;">Status</th>
                                            <th style="text-align: center;">Aksi</th>
                                        </tr>
                                        </thead>
                                        <tbody id="userTable"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addUserModalLabel">Tambah Pengguna Baru</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="userForm">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="userName" class="form-label">Nama</label>
                                        <input type="text" class="form-control" id="userName" placeholder="Masukkan Nama Pengguna">
                                    </div>
                                    <div class="mb-3">
                                        <label for="userEmail" class="form-label">Email (Opsional)</label>
                                        <input type="email" class="form-control" id="userEmail" placeholder="Masukkan Email (Opsional)">
                                    </div>
                                    <div class="mb-3">
                                        <label for="userPhone" class="form-label">No HP</label>
                                        <input type="text" class="form-control" id="userPhone" placeholder="Masukkan Nomor HP">
                                    </div>
                                    <div class="mb-3">
                                        <label for="userAddress" class="form-label">Alamat (Opsional)</label>
                                        <textarea class="form-control" id="userAddress" placeholder="Masukkan Alamat Pengguna"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="UserVerified" class="form-label">Status</label>
                                        <select class="form-select" id="UserVerified" name="verified">
                                            <option value="Aktif">AKTIF</option>
                                            <option value="Tidak Aktif">TIDAK AKTIF</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editUserModalLabel">Edit Pengguna</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="editUserForm">
                                <div class="modal-body">
                                    <input type="hidden" id="editUserId" name="id">
                                    <div class="mb-3">
                                        <label for="editUserName" class="form-label">Nama</label>
                                        <input type="text" class="form-control" id="editUserName" placeholder="Masukkan Nama Pengguna">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editUserEmail" class="form-label">Email (Opsional)</label>
                                        <input type="email" class="form-control" id="editUserEmail" placeholder="Masukkan Email (Opsional)">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editUserPhone" class="form-label">No HP</label>
                                        <input type="text" class="form-control" id="editUserPhone" placeholder="Masukkan Nomor HP">
                                    </div>
                                    <div class="mb-3">
                                        <label for="editUserAddress" class="form-label">Alamat (Opsional)</label>
                                        <textarea class="form-control" id="editUserAddress" placeholder="Masukkan Alamat Pengguna"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editUserVerified" class="form-label">Status</label>
                                        <select class="form-select" id="editUserVerified" name="verified">
                                            <option value="Aktif">AKTIF</option>
                                            <option value="Tidak Aktif">TIDAK AKTIF</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteConfirmationModalLabel">Konfirmasi Hapus</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Apakah Anda yakin ingin menghapus pengguna ini?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                <button type="button" class="btn btn-danger" id="confirmDelete">Hapus</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:replace="~{pisah/footer.html}"></div>
            </div>
        </div>
    </div>
    <script src="assets/vendor/js/bootstrap.js"></script>
    <script src="assets/vendor/js/menu.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function loadUsers() {
            $.get("/user/list", function(users) {
                let tableContent = "";
                users.forEach((user, index) => {
                    let verifiedText = user.verified.toUpperCase();
                    let verifiedClass = verifiedText === "AKTIF"
                        ? "bg-success text-white fw-bold px-2 py-1 d-inline-block rounded"
                        : "bg-danger text-white fw-bold px-2 py-1 d-inline-block rounded";

                    tableContent += `
                        <tr>
                            <td>${index + 1}</td>
                            <td>${user.nama}</td>
                            <td>${user.email}</td>
                            <td>${user.noTelpon}</td>
                            <td class="text-center">
                                <span class="${verifiedClass}">${verifiedText}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm btn-edit"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editUserModal"
                                    data-id="${user.id}"
                                    data-nama="${user.nama}"
                                    data-email="${user.email}"
                                    data-telepon="${user.noTelpon}"
                                    data-alamat="${user.alamat}"
                                    data-verified="${user.verified}">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-sm btn-delete"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteConfirmationModal"
                                    data-id="${user.id}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>`;
                });
                $("#userTable").html(tableContent);
            });

        }

        $(document).ready(function() {
            loadUsers();

            $("#userForm").submit(function(event) {
                event.preventDefault();

                const userData = {
                  nama: $("#userName").val(),
                  email: $("#userEmail").val(),
                  noTelpon: $("#userPhone").val(),
                  alamat: $("#userAddress").val(),
                  verified: $("#UserVerified").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/user/save",
                    contentType: "application/json",
                    data: JSON.stringify(userData),
                    success: function(response) {
                        $('#addUserModal').modal('hide');
                        $('.modal-backdrop').remove();
                        Swal.fire({
                            title: 'Berhasil!',
                            text: 'Pengguna berhasil disimpan!',
                            icon: 'success',
                            confirmButtonText: 'OK',
                            timer: 2000,
                            timerProgressBar: true
                        });

                        setTimeout(function() {
                            let modalElement = document.getElementById('addUserModal');
                            let modalInstance = bootstrap.Modal.getInstance(modalElement);
                            modalInstance.hide();
                            modalInstance.dispose();

                            $("#userForm")[0].reset();

                            loadUsers();
                            location.reload();
                        }, 2000);
                    }
                });
            });

            $(document).on("click", ".btn-edit", function() {
                let id = $(this).data("id");
                let nama = $(this).data("nama");
                let email = $(this).data("email");
                let telepon = $(this).data("telepon");
                let alamat = $(this).data("alamat");
                let verified = $(this).data("verified");

                console.log("Verified Status: ", verified);

                $("#editUserId").val(id);
                $("#editUserName").val(nama);
                $("#editUserEmail").val(email);
                $("#editUserPhone").val(telepon);
                $("#editUserAddress").val(alamat);
                $("#editUserVerified").val(verified);
            });

            $("#editUserForm").submit(function(event) {
                event.preventDefault();

                let userData = {
                    id: $("#editUserId").val(),
                    nama: $("#editUserName").val(),
                    email: $("#editUserEmail").val(),
                    noTelpon: $("#editUserPhone").val(),
                    alamat: $("#editUserAddress").val(),
                    verified: $("#editUserVerified").val(),
                };

                $.ajax({
                    type: "PUT",
                    url: "/user/update",
                    contentType: "application/json",
                    data: JSON.stringify(userData),
                    success: function(response) {
                        $('#editUserModal').modal('hide');
                        $('.modal-backdrop').remove();
                        Swal.fire({
                            title: 'Berhasil!',
                            text: 'Pengguna berhasil diperbarui!',
                            icon: 'success',
                            confirmButtonText: 'OK',
                            timer: 2000,
                            timerProgressBar: true
                        });

                        setTimeout(function() {
                            let modalElement = document.getElementById('editUserModal');
                            let modalInstance = bootstrap.Modal.getInstance(modalElement);
                            modalInstance.hide();
                            modalInstance.dispose();

                            loadUsers();
                            location.reload();
                        }, 2000);
                    }
                });
            });

            let userIdToDelete = null;
            $(document).on("click", ".btn-delete", function() {
                userIdToDelete = $(this).data("id");
            });

            $('#confirmDelete').click(function() {
                if (userIdToDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: "/user/delete/" + userIdToDelete,
                        success: function(response) {
                            $('#deleteConfirmationModal').modal('hide');
                            $('.modal-backdrop').remove();
                            Swal.fire({
                                title: 'Berhasil!',
                                text: 'Pengguna berhasil dihapus!',
                                icon: 'success',
                                confirmButtonText: 'OK',
                                timer: 2000,
                                timerProgressBar: true
                            });

                            setTimeout(function() {
                                let modalElement = document.getElementById('deleteConfirmationModal');
                                let modalInstance = bootstrap.Modal.getInstance(modalElement);
                                modalInstance.hide();
                                modalInstance.dispose();

                                loadUsers();
                                location.reload();
                            }, 2000);
                        }
                    });
                }
            });
            var table = $('#tabel-custom').DataTable({
                "paging": true,
                "pageLength": 5,
                "lengthMenu": [5, 10, 15, 20],
                "ordering": true,
                "info": true
            });
            $('#tabel-custom_length').css('margin-bottom', '15px');
            $('#tabel-custom_filter').css('margin-bottom', '15px');
            $('#tabel-custom_info').css('margin-top', '10px');
        });


    </script>
</div>
</body>
</html>
