<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
<h2>Email Verification</h2>

<form action="/auth/verify" method="get">
    <div>
        <label for="token">Verification Token:</label>
        <input type="text" id="token" name="token" required>
    </div>
    <button type="submit">Verify</button>
</form>

<div>
    <p th:text="${message}"></p> <!-- Pesan verifikasi -->
</div>
</body>
</html>
